@charset "utf-8";
/* CSS Document */
* {
	box-sizing: border-box;
}

body{
	padding: 0px;
	margin: 0px;
	
}

.grid-containter {
  
 width: 100%
}
.row {width: 100%;
padding: 48px 16px 16px 16px;


}

/*
>992
768
<768
*/

@media all and (min-width: 992px) {
.col-lg-1 {width: 8.33%;}
.col-lg-2 {width: 16.66%;}
.col-lg-3 {width: 25%;}
.col-lg-4 {width: 33.33%;}
.col-lg-5 {width: 41.66%;}
.col-lg-6 {width: 50%;}
.col-lg-7 {width: 58.33%;}
.col-lg-8 {width: 66.66%;}
.col-lg-9 {width: 75%;}
.col-lg-10 {width: 83.33%;}
.col-lg-11 {width: 91.66%;}
.col-lg-12 {width: 100%;}
}

@media all and (min-width: 768px) and (max-width: 991px) {
.col-md-1 {width: 8.33%;}
.col-md-2 {width: 16.66%;}
.col-md-3 {width: 25%;}
.col-md-4 {width: 33.33%;}
.col-md-5 {width: 41.66%;}
.col-md-6 {width: 50%;}
.col-md-7 {width: 58.33%;}
.col-md-8 {width: 66.66%;}
.col-md-9 {width: 75%;}
.col-md-10 {width: 83.33%;}
.col-md-11 {width: 91.66%;}
.col-md-12 {width: 100%;}
}

@media all and (max-width: 767px) {
.col-sd-1 {width: 8.33%;}
.col-sd-2 {width: 16.66%;}
.col-sd-3 {width: 25%;}
.col-sd-4 {width: 33.33%;}
.col-sd-5 {width: 41.66%;}
.col-sd-6 {width: 50%;}
.col-sd-7 {width: 58.33%;}
.col-sd-8 {width: 66.66%;}
.col-sd-9 {width: 75%;}
.col-sd-10 {width: 83.33%;}
.col-sd-11 {width: 91.66%;}
.col-sd-12 {width: 100%;}
}


[class*="col-"]{
float: left;

}

section {
	
padding: 16px;	
}

header {
	width: 200px;
	
	 border: 1px solid black;
	position: absolute;
	padding: 8px;
	right: 0px;
	top: 0px;
}

.vegs{
background-color: green;
}

.fruits{
background-color: pink;	
}

.nuts{
background-color: orange;	
}

.content {
	position: relative;
	background-color: yellow;
  padding: 48px 16px 16px 16px;
  border: 1px solid black;
}

heading {
	text-align: center;
	background-color: lime;
}